.contr {
  margin-right: 48px;
}
.login {
  display: flex;
  align-items: center;
  border: none;
  background-color: #198754;
  color: white;
}

p {
  padding: 0;
  margin: 0;
}

.logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.info {
  padding: 8px;
}

.language {
  color: white;
  margin-right: 48px;
}
