@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap');
@import "normalize.css";
@import "svg-styles";

$bodyColor: #f2f2f2;
$mainColor: #fdfdfe;
$secondColor: #00a819;
$accentColor: #fdce01;
$hoverColor: #00a819;

$mainFont: 'Lato', sans-serif;
$monserratFont:  Montserrat,sans-serif;

//Background color

.bg-main{
  background-color: $mainColor;
}
.bg-second{
  background-color: $secondColor;
}
//Media require

.col-after360-6 {
  @media screen and (max-width: 389.98px) {
    width: 100%;
  }
  @media (min-width: 390px) and (max-width: 575.98px) {
    width: 50%;
  }
}

//Font size
.fz-16{
  font-size: 16px;
}.fz-14{
  font-size: 14px;
}
//Text color
.text-grey{
color: #8a8a8a;
}
//Fonts
.monserrat{
  font-family: $monserratFont;
}

* {
  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    img{
      transition: 0.33s;
      &:hover{
        transition: 0.33s;
        transform: scale(1.11);
      }
    }
  }
}

body {
  background-color: $bodyColor;
  min-height: 100vh;
}

.hover {
  &:hover {
    color: $hoverColor;
    svg{
      fill: $hoverColor;
    }
  }

}


