.svg {

}

.master-card-secure-code {
  .master-card-st-0 {
    fill: #E52727;
  }

  .master-card-st-1 {
    fill: #F3AE12;
  }
}

.verified-by-visa {
  .st0 {
    fill: #11559C
  }

  .st1 {
    fill: #F2A724
  }
}